﻿@model SistemZaRezervacijeApartmana.Models.Korisnik
@{
    ViewBag.Title = "Domacin";
}

<html>
    <head>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <style>
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: lightgray;
            }

                /* Style the buttons that are used to open the tab content */
                .tab button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: lavender;
                    }

                    /* Create an active/current tablink class */
                    .tab button.active {                        
                        background-color: lightsteelblue;
                    }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
                background-color: lightcoral;
            }
        </style>
        <script>
                        function openCity(evt, cityName) {
                            // Declare all variables
                            var i, tabcontent, tablinks;

                            // Get all elements with class="tabcontent" and hide them
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }

                            // Get all elements with class="tablinks" and remove the class "active"
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }

                            // Show the current tab, and add an "active" class to the button that opened the tab
                            document.getElementById(cityName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
        </script>
    </head>


    <body>
        <h2>Domacin</h2>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Profil')">Profil</button>
            <button class="tablinks" onclick="openCity(event, 'IzmeniPodatke')">Izmeni podatke</button>
            <button class="tablinks" onclick="openCity(event, 'UpravljanjeApartmanima')">Upravljanje apartmanima</button>
            <button class="tablinks" onclick="openCity(event, 'Apartmani')">Apartmani</button>
            <button class="tablinks" onclick="openCity(event, 'SviKomentari')">Svi komentari</button>
        </div>

        <div id="Profil" class="tabcontent">
            <table>
                <tr>
                    <td>Korisnicko ime:</td>
                    <td>@Model.KorisnickoIme</td>
                </tr>
                <tr>
                    <td>Lozinka: </td>
                    <td>@Model.Lozinka</td>
                </tr>
                <tr>
                    <td>Ime: </td>
                    <td>@Model.Ime</td>
                </tr>
                <tr>
                    <td>Prezime: </td>
                    <td>@Model.Prezime</td>
                </tr>
                <tr>
                    <td>Pol: </td>
                    <td>@Model.Pol.ToString()</td>
                </tr>

            </table>
        </div>

        <div id="IzmeniPodatke" class="tabcontent">
            <form action="/Domacin/IzmenaPodataka" method="post">
                <table>
                    <tr>
                        <td>Lozinka: </td>
                        <td><input type="text" name="pass" value=@Model.Lozinka></td>
                    </tr>
                    <tr>
                        <td>Ime: </td>
                        <td><input type="text" name="ime" value=@Model.Ime></td>
                    </tr>
                    <tr>
                        <td>Prezime: </td>
                        <td><input type="text" name="prezime" value=@Model.Prezime></td>
                    </tr>
                    <tr>
                        <td>Pol: </td>
                        <td align="left">
                            <select name="pol" value=@Model.Pol>
                                <option value="MUSKI">Muski</option>
                                <option value="ZENSKI">Zenski</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Izmeni"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="UpravljanjeApartmanima" class="tabcontent">            
            <form action="/Domacin/OtvoriKreirajApartView" method="post">
                <input type="submit" value="Dodaj apartman"/>
            </form>
            <br />
            @*izmena*@
            <table border="1">
                <tr>
                    <td><b>Tip</b></td>
                    <td><b>Broj soba</b></td>
                    <td><b>Broj gostiju</b></td>
                    <td><b>Adresa</b></td>
                    <td><b>Cena po noci</b></td>
                    <td><b>Domacin</b></td>
                    <td><b>Vreme za prijavu</b></td>
                    <td><b>Vreme za odjavu</b></td>
                    <td><b>Status</b></td>
                    <td><b>SadrzajiApartmana</b></td>
                    <td><b>DatumiZaIzdavanje</b></td>
                </tr>
                @foreach (SistemZaRezervacijeApartmana.Models.Apartman apart in SistemZaRezervacijeApartmana.Models.Database.domacini[Model.KorisnickoIme].ApartmaniZaIzdavanje)
                {
                    if (!apart.IsDeleted)
                    {
                        <tr>
                            <td>@apart.TipApartman.ToString()</td>
                            <td align="center">@apart.BrojSoba.ToString()</td>
                            <td align="center">@apart.BrojGostiju.ToString()</td>
                            <td>@apart.Lokacija.Adresa.Ulica @apart.Lokacija.Adresa.Broj @apart.Lokacija.Adresa.Grad @apart.Lokacija.Adresa.PostanskiBroj</td>
                            <td align="center">@apart.CenaPoNoci.ToString()</td>
                            <td>@apart.Domacin.Ime @apart.Domacin.Prezime</td>
                            <td align="center">@apart.VremeZaPrijavu</td>
                            <td align="center">@apart.VremeZaOdjavu</td>
                            <td>@apart.Status.ToString()</td>
                            <td>
                                <ul>
                                    @foreach (SistemZaRezervacijeApartmana.Models.SadrzajApartmana sadrzaj in apart.SadrzajiApartmana)
                                    {
                                        if (!sadrzaj.IsDeleted)
                                        {
                                            <li>@sadrzaj.Naziv</li>

                                        }
                                    }
                                </ul>
                               

                            </td>
                            <td>
                                <ul>
                                    @foreach(DateTime datum in apart.DatumiZaIzdavanje)
                                    {
                                        <li>@datum.Day.@datum.Month.@datum.Year</li>
                                    }
                                </ul>
                            </td>
                          
                            <td>
                                <form action="/Domacin/OtvoriIzmeniApartView" method="post">
                                    <input type="hidden" name="idApartmana" value="@apart.Id" />
                                    <input type="submit" value="Izmeni" />
                                </form>
                            </td>
                            <td>
                                <form action="/Domacin/ObrisiApartman" method="post">
                                    <input type="submit" value="Obrisi" />
                                    <input type="hidden" name="idApartmana" value="@apart.Id" />
                                </form>
                            </td>

                        </tr>
                    }

                }
            </table>
        </div>

        <div id="Apartmani" class="tabcontent">
            @*<h4>Pregled svih apartmana domacina</h4>*@
            @*<table border="1">
                <tr>
                    <td align="center"><b>Tip</b></td>
                    <td><b>Broj soba</b></td>
                    <td><b>Broj gostiju</b></td>
                    <td><b>Adresa</b></td>
                    <td><b>Cena po noci</b></td>
                    <td align="center"><b>Domacin</b></td>
                    <td><b>Vreme za prijavu</b></td>
                    <td><b>Vreme za odjavu</b></td>
                    <td><b>Status</b></td>
                </tr>
                @foreach (SistemZaRezervacijeApartmana.Models.Apartman apart in SistemZaRezervacijeApartmana.Models.Database.domacini[Model.KorisnickoIme].ApartmaniZaIzdavanje)
                {
                    if (!apart.IsDeleted)
                    {
                        <tr>
                            <td>@apart.TipApartman.ToString()</td>
                            <td align="center">@apart.BrojSoba.ToString()</td>
                            <td align="center">@apart.BrojGostiju.ToString()</td>
                            <td>@apart.Lokacija.Adresa.Ulica @apart.Lokacija.Adresa.Broj @apart.Lokacija.Adresa.Grad @apart.Lokacija.Adresa.PostanskiBroj</td>
                            <td align="center">@apart.CenaPoNoci.ToString()</td>
                            <td>@apart.Domacin.Ime @apart.Domacin.Prezime</td>
                            <td align="center">@apart.VremeZaPrijavu</td>
                            <td align="center">@apart.VremeZaOdjavu</td>
                            <td>@apart.Status.ToString()</td>
                        </tr>
                    }

                }
            </table><br />*@

            <form action="/Domacin/SortiranjeDomacin" method="post">
                <h4>Sortiranje apartmana</h4>
                <table>
                    <tr>
                        <td>Po ceni:</td>
                        <td>
                            <select name="sortirajPoCeni">
                                <option value="rastucoj">Rastucoj</option>
                                <option value="opadajucoj">Opadajucoj</option>
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="domacinKorIme" value="@Model.KorisnickoIme" />
                            <input type="submit" value="Sortiraj">                        
                        </td>
                    </tr>
                </table>
            </form>
            <br />

            <form action="/Domacin/PretragaDomacin" method="post">
                <h4> Pretraga apartmana</h4>
                <table>
                    <tr>
                        <td>Po datumu:</td>
                        <td><input type="datetime" name="datumOd"></td>
                        <td><input type="datetime" name="datumDo"></td>
                    </tr>
                    <tr>
                        <td>Po lokaciji:</td>
                        <td><input type="text" name="grad"></td>
                    </tr>
                    <tr>
                        <td>Po ceni:</td>
                        <td><input type="text" name="cenaOd"></td>
                        <td><input type="text" name="cenaDo"></td>
                    </tr>
                    <tr>
                        <td>Po broju soba:</td>
                        <td>
                            <input type="text" name="brSobaOd" />
                        </td>
                        <td>
                            <input type="text" name="brSobaDo" />
                        </td>
                    </tr>
                    <tr>
                        <td>Po broju osoba:</td>
                        <td>
                            <input type="text" name="brOsoba" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                         <input type="hidden" name="domacinKorIme" value="@Model.KorisnickoIme" />
                         <input type="submit" value="Pretrazi">
                        </td>
                    </tr>
                </table>
            </form>

            <br />

            <form action="/Domacin/FiltrirajApartmane" method="post">
                <h4>Filtriranje apartmana</h4>
                <table>
                    <tr>
                        <td>Po sadrzaju:</td>
                        <td><input type="text" name="sadrzaj" /></td>
                    </tr>
                    <tr>
                        <td>Po tipu:</td>
                        <td><input type="text" name="tip" /></td>
                    </tr>
                    <tr>
                        <td>Po statusu:</td>
                        <td><input type="text" name="status" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="Filtriraj" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>


        <div id="SviKomentari" class="tabcontent">
            <h4>Odaberite komentare koje zelite da se prikazuju na Vasim apartmanima</h4>
            <form action="/Domacin/PrikaziKomentApart" method="post">
            <select name="komentar">
                @{
                    foreach (SistemZaRezervacijeApartmana.Models.KomentarZaApartman kom in SistemZaRezervacijeApartmana.Models.Database.komentariZaApartmane.Values)
                    {
                        foreach (SistemZaRezervacijeApartmana.Models.Apartman ap in SistemZaRezervacijeApartmana.Models.Database.domacini[Model.KorisnickoIme].ApartmaniZaIzdavanje)
                        {
                            if (kom.Apartman.Lokacija.Adresa.Ulica == ap.Lokacija.Adresa.Ulica && kom.Apartman.Lokacija.Adresa.Broj == ap.Lokacija.Adresa.Broj && kom.Apartman.Lokacija.Adresa.Grad == ap.Lokacija.Adresa.Grad && ap.Status.ToString() == "AKTIVAN" && !ap.IsDeleted && !kom.Odobren)
                            {
                                <option value="@kom.Id">@kom.Gost.KorisnickoIme -@ap.Id| @kom.Apartman.Lokacija.Adresa.Ulica @kom.Apartman.Lokacija.Adresa.Broj @kom.Apartman.Lokacija.Adresa.Grad |@kom.Tekst |@kom.OcenaApartmana.ToString()</option>
                            }
                        }

                    }
                }
            </select>
            <br />
            <input type="submit" value="Prikazi" />
            </form>
            <br />
            <h4>Pregled komentara korisnika na apartmane</h4>
            <table border="1">
                <tr>
                    <td><b>Id</b></td>
                    <td><b>Gost</b></td>
                    <td><b>Apartman</b></td>
                    <td><b>Tekst</b></td>
                    <td><b>Ocena</b></td>
                </tr>
                @foreach (SistemZaRezervacijeApartmana.Models.KomentarZaApartman komentar in SistemZaRezervacijeApartmana.Models.Database.komentariZaApartmane.Values)
                {
                    <tr>
                        <td align="center">@komentar.Id.ToString()</td>
                        <td>@komentar.Gost.KorisnickoIme</td>
                        <td>@komentar.Apartman.Lokacija.Adresa.Ulica @komentar.Apartman.Lokacija.Adresa.Broj, @komentar.Apartman.Lokacija.Adresa.Grad</td>
                        <td>@komentar.Tekst</td>
                        <td align="center">@komentar.OcenaApartmana.ToString()</td>
                    </tr>
                }
            </table>
        </div>



      
        <form action="/User/LogOut">
            <input type="submit" value="Odjavi se">
        </form>
    </body>
</html>

