﻿
@{
    ViewBag.Title = "OdobriApartmanRez";
}

<h2>Rezultat odobravanja apartmana</h2>
<form action="/User/Preusmeri" method="post">
    <p> @ViewBag.Message</p>
    <input type="submit" value="Nazad" />
</form>
