﻿
@{
    ViewBag.Title = "RezultatKreiranjaSadrzaja";
}

<h2>Rezultat kreiranja sadrzaja apartmana</h2>
<br />
<form action="/User/Preusmeri" method="post">
    <p> @ViewBag.Message</p>
    <input type="submit" value="Nazad">
</form>     
