﻿@model SistemZaRezervacijeApartmana.Models.Apartman
@{
    ViewBag.Title = "Sistem za rezervisanje apartmana";
}

 <html>
    <head>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <style>
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: lightgray;
            }

                /* Style the buttons that are used to open the tab content */
                .tab button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: lavender;
                    }

                    /* Create an active/current tablink class */
                    .tab button.active {
                        background-color: lightsteelblue;
                    }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
                background-color: lightblue;
            }
        </style>
        <script>
                        function openCity(evt, cityName) {
                            // Declare all variables
                            var i, tabcontent, tablinks;

                            // Get all elements with class="tabcontent" and hide them
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }

                            // Get all elements with class="tablinks" and remove the class "active"
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }

                            // Show the current tab, and add an "active" class to the button that opened the tab
                            document.getElementById(cityName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
        </script>
    </head>


 <body>
     <h2>Dobrodosli na sajt za rezervaciju apartmana!</h2>
     <br />
     <div class="tab">
         <button class="tablinks" onclick="openCity(event, 'AktivniApartmani')">Pregled apartmana</button>
         <button class="tablinks" onclick="openCity(event, 'KomentariKorisnika')">Komentari korisnika</button>
         <button class="tablinks" onclick="openCity(event, 'Registracija')">Registracija</button>
         <button class="tablinks" onclick="openCity(event, 'Logovanje')">Ulogujte se</button>
     </div>

    <div id="Registracija" class="tabcontent">
        <h3>Registracija korisnika </h3>
        <br />
        <form action="/User/RegistrujSe" method="post">
            <table border="1">
                <tr>
                    <td><b>Ime:</b></td>
                    <td>
                        <input type="text" data-val="true" data-val-length="Minimum 1 karakter" data-val-length-max="20" data-val-length-min="1" data-val-required="*" name="ime"> <span class="text-danger field-validation-error" data-valmsg-for="ime" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td><b>Prezime:</b></td>
                    <td>
                        <input type="text" data-val="true" data-val-length="Minimum 1 karakter" data-val-length-max="20" data-val-length-min="1" data-val-required="*" name="prezime"> <span class="text-danger field-validation-error" data-valmsg-for="prezime" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td><b>Korisnicko Ime:</b></td>
                    <td>
                        <input type="text" data-val="true" data-val-length="Minimum 1 karakter" data-val-length-max="20" data-val-length-min="1" data-val-required="*" name="korIme"> <span class="text-danger field-validation-error" data-valmsg-for="korIme" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td><b>Lozinka:</b></td>
                    <td>
                        <input type="text" data-val="true" data-val-length="Minimum 1 karakter" data-val-length-max="20" data-val-length-min="1" data-val-required="*" name="lozinka"> <span class="text-danger field-validation-error" data-valmsg-for="lozinka" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td><b>Pol:</b></td>
                    <td>
                        <select name="pol">
                            <option value="MUSKI">Muski </option>
                            <option value="ZENSKI">Zenski </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Registruj se" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

     <div id="Logovanje" class="tabcontent">
         <h2>Login</h2>
         
         <form action="/User/Login" method="post">
             <table>
                 <tr>
                     <td>Korisnicko ime:</td>
                     <td><input type="text" data-val="true" data-val-length-min="1" data-val-required="*" name="username"> <span class="text-danger field-validation-error" data-valmsg-for="username" data-valmsg-replace="true"></span> </td>
                 </tr>

                 <tr>
                     <td>Lozinka:</td>
                     <td> <input type="password" data-val="true" data-val-length-min="1" data-val-required="*" name="pass"><span class="text-danger field-validation-error" data-valmsg-for="pass" data-valmsg-replace="true"></span>  </td>
                 </tr>
                 <tr>
                     <td colspan="2" align="center">
                         <input type="submit" value="Log in" />
                     </td>
                 </tr>
             </table>
         </form>
      
     </div>
    
     <div id="AktivniApartmani" class="tabcontent">
         <h4>Pregled aktivnih apartmana</h4>
         <table border="1">
             <tr>
                 <td><b>Tip</b></td>
                 <td><b>Broj soba</b></td>
                 <td><b>Broj gostiju</b></td>
                 <td><b>Cena po noci</b></td>
                 <td><b>Domacin</b></td>
                 <td><b>Vreme za prijavu</b></td>
                 <td><b>Vreme za odjavu</b></td>
                 <td><b>Status</b></td>
                 <td><b>Adresa</b></td>
                 <td><b>SadrzajiApartmana</b></td>
             </tr>
             @foreach (SistemZaRezervacijeApartmana.Models.Apartman apart in SistemZaRezervacijeApartmana.Models.Database.sviApartmani.Values)
             {
                 if(apart.Status == SistemZaRezervacijeApartmana.Models.StatusApartmana.AKTIVAN && !apart.IsDeleted)
                 {
                    <tr>
                        <td>@apart.TipApartman.ToString()</td>
                        <td align="center">@apart.BrojSoba.ToString()</td>
                        <td align="center">@apart.BrojGostiju.ToString()</td>
                       @*<td>@apart.Lokacija.Adresa.Ulica @apart.Lokacija.Adresa.Broj @apart.Lokacija.Adresa.Grad @apart.Lokacija.Adresa.PostanskiBroj</td>*@
                        <td align="center">@apart.CenaPoNoci.ToString()</td>
                        <td>@apart.Domacin.Ime @apart.Domacin.Prezime</td>
                        <td align="center">@apart.VremeZaPrijavu</td>
                        <td align="center">@apart.VremeZaOdjavu</td>
                        <td>@apart.Status.ToString()</td>
                        <td>
                            <ul>
                                @foreach (SistemZaRezervacijeApartmana.Models.SadrzajApartmana sadrzaj in apart.SadrzajiApartmana)
                                {
                                    if (!sadrzaj.IsDeleted)
                                    {
                                        <li>@sadrzaj.Naziv</li>

                                    }
                                }
                            </ul>

                        </td>
                    </tr>
                 }
             }
         </table><br />

         <form action="/User/SortiranjeNeregKorisnik" method="post">
             <h4>Sortiranje apartmana</h4>
             <table>
                 <tr>
                     <td>Po ceni:</td>
                     <td>
                         <select name="sortirajPoCeni">
                             <option value="rastucoj">Rastucoj</option>
                             <option value="opadajucoj">Opadajucoj</option>
                         </select>
                     </td>
                     <td><input type="submit" value="Sortiraj"></td>
                 </tr>
             </table>          
         </form>
         <br />

         <form action="/User/PretragaNeregKorisnik" method="post">
            <h4> Pretraga apartmana</h4>
             <table>
                 <tr>
                     <td>Po datumu:</td>
                     <td><input type="datetime" name="datumOd"></td>
                     <td><input type="datetime" name="datumDo"></td>
                 </tr>
                 <tr>
                     <td>Po lokaciji:</td>
                     <td><input type="text" name="grad"></td>                 
                 </tr>
                 <tr>
                     <td>Po ceni:</td>
                     <td><input type="text" name="cenaOd"></td>
                     <td><input type="text" name="cenaDo"></td>
                 </tr>
                 <tr>
                     <td>Po broju soba:</td>
                     <td>
                         <input type="text" name="brSobaOd" />
                     </td>
                     <td>
                         <input type="text" name="brSobaDo" />
                     </td>                    
                 </tr>
                 <tr>
                     <td>Po broju osoba:</td>
                     <td>
                         <input type="text" name="brOsoba" />
                     </td>
                 </tr>
                 <tr>
                     <td colspan="3" align="center"><input type="submit" value="Pretraga"></td>
                 </tr>
             </table>          
         </form>
         
         <br />
         
         <form action="/User/FiltrirajApartmane" method="post">
             <h4>Filtriranje apartmana</h4>
             <table>
                 <tr>
                     <td>Po sadrzaju:</td>
                     <td><input type="text" name="sadrzaj" /></td>
                 </tr>
                 <tr>
                     <td>Po tipu:</td>
                     <td><input type="text" name="tip" /></td>
                 </tr>
                 <tr>
                     <td colspan="2" align="center">
                         <input type="submit" value="Filtriraj" />
                     </td>
                 </tr>
             </table>
         </form>        
     </div>
     
     <div id="KomentariKorisnika" class="tabcontent">     
         <h4>Pregled komentara korisnika na apartmane</h4>
         <table border="1">
             <tr>
                 <td><b>Gost</b></td>
                 <td><b>Apartman</b></td>
                 <td><b>Tekst</b></td>
                 <td><b>Ocena</b> </td>
             </tr>
             @foreach (SistemZaRezervacijeApartmana.Models.KomentarZaApartman komentar in SistemZaRezervacijeApartmana.Models.Database.komentariZaApartmane.Values)
             {
                 if (komentar.Odobren)
                 {
                     <tr>
                         <td>@komentar.Gost.KorisnickoIme</td>
                         <td>@komentar.Apartman.Lokacija.Adresa.Ulica @komentar.Apartman.Lokacija.Adresa.Broj, @komentar.Apartman.Lokacija.Adresa.Grad</td>
                         <td>@komentar.Tekst</td>
                         <td>@komentar.OcenaApartmana.ToString()</td>
                     </tr>
                 }

             }
         </table>

     </div>
 </body>


</html>