﻿@model SistemZaRezervacijeApartmana.Models.Korisnik
@{
    ViewBag.Title = "Gost";
}


<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: lightgray;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color:lavender;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: lightgreen;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            background-color:limegreen;
        }
    </style>
    <script>
                    function openCity(evt, cityName) {
                        // Declare all variables
                        var i, tabcontent, tablinks;

                        // Get all elements with class="tabcontent" and hide them
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }

                        // Get all elements with class="tablinks" and remove the class "active"
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }

                        // Show the current tab, and add an "active" class to the button that opened the tab
                        document.getElementById(cityName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }
    </script>
</head>


<body>
    <h2>Gost</h2>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Profil')">Profil</button>
        <button class="tablinks" onclick="openCity(event, 'IzmeniPodatke')">Izmeni podatke</button>
        <button class="tablinks" onclick="openCity(event, 'AktivniApartmani')">Apartmani</button>
        <button class="tablinks" onclick="openCity(event, 'KomentariKorisnika')">Komentari</button>
    </div>

    <div id="Profil" class="tabcontent">
        <table>
            <tr>
                <td>Korisnicko ime:</td>
                <td>@Model.KorisnickoIme</td>
            </tr>
            <tr>
                <td>Lozinka: </td>
                <td>@Model.Lozinka</td>
            </tr>
            <tr>
                <td>Ime: </td>
                <td>@Model.Ime</td>
            </tr>
            <tr>
                <td>Prezime: </td>
                <td>@Model.Prezime</td>
            </tr>
            <tr>
                <td>Pol: </td>
                <td>@Model.Pol.ToString()</td>
            </tr>

        </table>
    </div>

    <div id="IzmeniPodatke" class="tabcontent">
        <form action="/Gost/IzmenaPodataka" method="post">
            <table>
                <tr>
                    <td>Korisnicko ime:</td>
                    <td><input type="text" name="username" readonly value=@Model.KorisnickoIme></td>
                </tr>
                <tr>
                    <td>Lozinka: </td>
                    <td><input type="text" name="pass" value=@Model.Lozinka></td>
                </tr>
                <tr>
                    <td>Ime: </td>
                    <td><input type="text" name="ime" value=@Model.Ime></td>
                </tr>
                <tr>
                    <td>Prezime: </td>
                    <td><input type="text" name="prezime" value=@Model.Prezime></td>
                </tr>
                <tr>
                    <td>Pol: </td>
                    <td align="left">
                        <select name="pol" value=@Model.Pol>
                            <option value="MUSKI">Muski</option>
                            <option value="ZENSKI">Zenski</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Izmeni"></td>
                </tr>
            </table>
        </form>
    </div>

    <div id="AktivniApartmani" class="tabcontent">
        <h4>Pregled aktivnih apartmana</h4>
        <table border="1">
            <tr>
                <td><b>Tip</b></td>
                <td><b>Broj soba</b></td>
                <td><b>Broj gostiju</b></td>
                <td><b>Adresa</b></td>
                <td><b>Cena po noci</b></td>
                <td><b>Domacin</b></td>
                <td><b>Vreme za prijavu</b></td>
                <td><b>Vreme za odjavu</b></td>
                <td><b>Status</b></td>
                <td><b>SadrzajiApartmana</b></td>
            </tr>
            @foreach (SistemZaRezervacijeApartmana.Models.Apartman apart in SistemZaRezervacijeApartmana.Models.Database.sviApartmani.Values)
            {
                if (apart.Status == SistemZaRezervacijeApartmana.Models.StatusApartmana.AKTIVAN && !apart.IsDeleted)
                {
                    <tr>
                        <td>@apart.TipApartman.ToString()</td>
                        <td align="center">@apart.BrojSoba.ToString()</td>
                        <td align="center">@apart.BrojGostiju.ToString()</td>
                        <td>@apart.Lokacija.Adresa.Ulica @apart.Lokacija.Adresa.Broj @apart.Lokacija.Adresa.Grad @apart.Lokacija.Adresa.PostanskiBroj</td>
                        <td align="center">@apart.CenaPoNoci.ToString()</td>
                        <td>@apart.Domacin.Ime @apart.Domacin.Prezime</td>
                        <td align="center">@apart.VremeZaPrijavu</td>
                        <td align="center">@apart.VremeZaOdjavu</td>
                        <td>@apart.Status.ToString()</td>
                        <td>
                            <ul>
                                @foreach (SistemZaRezervacijeApartmana.Models.SadrzajApartmana sadrzaj in apart.SadrzajiApartmana)
                                {
                                    if (!sadrzaj.IsDeleted)
                                    {
                                        <li>@sadrzaj.Naziv</li>
                                    }
                                }
                            </ul>                       
                        </td> 

                    </tr>
                }
            }
        </table><br />

        <form action="/Gost/SortiranjeGost" method="post">
            <h4>Sortiranje apartmana</h4>
            <table>
                <tr>
                    <td>Po ceni:</td>
                    <td>
                        <select name="sortirajPoCeni">
                            <option value="rastucoj">Rastucoj</option>
                            <option value="opadajucoj">Opadajucoj</option>
                        </select>
                    </td>
                    <td><input type="submit" value="Sortiraj"></td>
                </tr>
            </table>
        </form>
        <br />

        <form action="/Gost/PretragaGost" method="post">
            <h4> Pretraga apartmana</h4>
            <table>
                <tr>
                    <td>Po datumu:</td>
                    <td><input type="datetime" name="datumOd"></td>
                    <td><input type="datetime" name="datumDo"></td>
                </tr>
                <tr>
                    <td>Po lokaciji:</td>
                    <td><input type="text" name="grad"></td>
                </tr>
                <tr>
                    <td>Po ceni:</td>
                    <td><input type="text" name="cenaOd"></td>
                    <td><input type="text" name="cenaDo"></td>
                </tr>
                <tr>
                    <td>Po broju soba:</td>
                    <td>
                        <input type="text" name="brSobaOd" />
                    </td>
                    <td>
                        <input type="text" name="brSobaDo" />
                    </td>
                </tr>
                <tr>
                    <td>Po broju osoba:</td>
                    <td>
                        <input type="text" name="brOsoba" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><input type="submit" value="Pretraga"></td>
                </tr>
            </table>
        </form><hr>
    </div>



    <div id="KomentariKorisnika" class="tabcontent">
        <form action="/Gost/PrikaziKomentareApartmana" method="post">
            <table>
                <tr>
                    <td>Ime: </td>
                    <td><input type="text" name="ime"> </td>
                </tr>
                <tr>
                    <td>Prezime: </td>
                    <td><input type="text" name="prezime"> </td>
                </tr>
                <tr>
                    <td>Korisnicko ime:</td>
                    <td><input type="text" name="korIme"></td>
                </tr>
                <tr>
                    <td>Lozinka: </td>
                    <td><input type="password" name="lozinka" /></td>
                </tr>
                <tr>
                    <td>Pol: </td>
                    <td align="left">
                        <select name="pol">
                            <option value="MUSKI">Muski</option>
                            <option value="ZENSKI">Zenski</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Kreiraj domacina"></td>
                </tr>
            </table>
        </form>

    </div>

   
    <form action="/User/LogOut">
        <input type="submit" value="Odjavi se">
    </form>
</body>
</html>




